.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


#textebuton{
    color:white;
    font-family: Helvetica Neue, Arial;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin:  initial;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none; 
    } 
}

#uplogo {
    height: 50px;
    width: 50px;
}

.navbar-brand {
    padding-top: 0px;
    padding-left: 0px;
}

#blanc{
    height: 100px;
}

#BigBlanc{
    height: 150px;
}

#encart_vert{
    /*background-color:#7ED72A;*/
    background-color:#93c92b;
}

#logo_page{
    width:70%;
}

#bloc_text_story{
    color:grey;
    font-family: Helvetica Neue, Arial;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#TITRE_Bloc_text_story{
    color:grey;
    font-family: Helvetica Neue, Arial;
    font-size: 30px;
    border-bottom: 2px solid grey;  
    border-top: 2px solid grey; 
    padding-bottom: 20px;
    padding-top: 20px;  
}

h3{
    color:white;
    font-family: Helvetica Neue, Arial;
    font-size: 35px;
}

#texte_picto{
    color:#93c92b;
    font-family: Helvetica Neue, Arial;
    font-size: 20px;
}

#picto{
    width:50%;
    margin: 0 auto;
}

#encart_footer{
    background-color:#333;
}

#footer_titre{
    color:white; 
    border-bottom: 2px solid white; 
    padding-bottom: 3px;
    font-family: Helvetica Neue, Arial;
}

#footer_text{
    color:white; 
    font-family: Helvetica Neue, Arial;
    font-size: 11px;
}

#footer_MotionLegale{
    background-color:#333;
}

#footer_texte_MentionLegale{
    color: white;
    font-size:9px;
    border-top: 1px solid white; 
    padding-top: 5px;
    padding-left: 15px;
}

#picto_reso{
    padding: 5px;
}

.youtube:hover{
    display: block;
    width: 64px;
    height: 64px;
    cursor: pointer;
    background-image: url('../images/social-gris.png');
}

.youtube{
    display: block;
    width: 64px;
    height: 64px;
    cursor: pointer;
    background: url(../images/social.png) no-repeat;
}

.fb:hover{
    display: block;
    width: 64px;
    height: 64px;
    cursor: pointer;
    background-image: url(../images/facebook-logo-gris.png);
}

.fb{
    display: block;
    width: 64px;
    height: 64px;
    cursor: pointer;
    background: url(../images/facebook-logo.png) no-repeat;
}

.twitter:hover{
    display: block;
    width: 64px;
    height: 64px;
    cursor: pointer;
    background-image: url(../images/twitter-social-logotype-gris.png);
}

.twitter{
    display: block;
    width: 64px;
    height: 64px;
    cursor: pointer;
    background: url(../images/twitter-social-logotype.png) no-repeat;
}

.linkedin:hover{
    display: block;
    width: 64px;
    height: 64px;
    cursor: pointer;
    background-image: url(../images/linkedin-logo-gris.png);
}

.linkedin{
    display: block;
    width: 64px;
    height: 64px;
    cursor: pointer;
    background: url(../images/linkedin-logo.png) no-repeat;
}

#picto_tbbord{
    width:50%;
    margin: 0 auto;
}

#titre_block-texte{
    color:grey; 
    font-family: Helvetica Neue, Arial;
    font-size: 20px;
}

#block-texte{
    color:grey; 
    font-family: Helvetica Neue, Arial;
    font-size: 15px;
    padding-bottom: 20px;
}

#sous_head{
    color:white; 
    font-family: Helvetica Neue, Arial;
}

#picot-ss-head{
    height: 30px;
    padding-top: 5px
}

label{
    color:white; 
    font-family: Helvetica Neue, Arial;
}


#texte_formulaire{
    color:white; 
    font-family: Helvetica Neue, Arial;
    text-align: right;
    padding-right: 20px;
    border-bottom: 1px solid white; 
}

#titre_FF{
    color:grey; 
    font-family: Helvetica Neue, Arial;
    font-size: 20px;
    border-bottom: 1px solid grey; 
}

#text_FF{
    color:grey; 
    font-family: Helvetica Neue, Arial;
    font-size: 15px;
}

#ss_titre_FF{
    color:grey; 
    font-family: Helvetica Neue, Arial;
    font-size: 18px;
    border-top: 1px solid grey; 
    border-bottom: 1px solid grey; 
    padding-top: 10px;
    padding-bottom: 10px;
}

#TRAIT{
    border-top: 1px solid grey; 
    height: 1px;
    padding-bottom: 50px;
}

caption{
    color:white; 
    font-family: Helvetica Neue, Arial;
    font-size: 20px;
    padding-left: 10px;
}

th{
    padding-left: 10px;
}
table{
    padding-top: 50px;
}

#encart_gris{
    background-color:grey;
}

span{
    color: grey;
    font-size: 10px;
}

#errorMsgDateC{
    color: white;
    font-size: 10px;
}
